$yellow: #fffa19;
$blue: #425e8c;
$red: #f54242;
$green: #78f542;
$bluish: #7b68ee;
 
@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

  
.jumbotron {
    /* background-color: rgb(30, 57, 92);  */
    background-color: $blue;
    color: white;
    margin-top: 50px; /* to compansate zone covered by the navbar */
}

.jumbotron-image {
    /* max-width: 100%; */
    max-height: 300px;
}

#carouselControls {
    margin-top: 20px;
}

.card-news {
    /* flex flex-grow flex-basis  
    flex-grow is maximum amount to grow the item regarding its axis */
    flex: 1 250px;/* so remove col-md-3 and similar spec */
    padding: 20px 10px 20px 10px;
    /* Normally add here d-flex flex-column justify-content-between and not in the html */
    margin-top: 10px;
}

.card-infomercial {
    /* flex flex-grow flex-basis  
    flex-grow is maximum amount to grow the item regarding its axis */
    flex: 1 300px;/* so remove col-md-3 and similar spec */
    padding: 0px 5px 20px 5px;
    /* Normally add here d-flex flex-column justify-content-between and not in the html */
    margin-top: 20px;
}

.btn {
    background-color: $bluish;
}

.btn-read-more {
    width: 100%; /* fill its container */
}

footer {
    padding: 10px  10px  0  10px;
    background-color: lightblue;
    @include margenes(20px, 0px);
/*     margin-bottom: 0px;
    margin-top: 20px; */
}

.footer-address-icon {
    padding-right: 10px;
}

.table-icon {
    margin: 0 10px 0 10px;
}

.tab-content{
    padding-top: 10px;
    padding-bottom: 20px;
}